* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}
  
body {
    font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/backtop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &_title {
        color: #FFFFFF;
        padding-top: 217px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        width: 60%;
    }
    &_content {
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-top: 32px;
        padding-bottom: 44px;
        width: 40%;
    }
    &_button {
        box-sizing: border-box;
        width: 234.06px;
        height: 48.6px;
        background-color: #9C0332;
        border-radius: 30px;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        &:hover {
            background-color:#EB443F;
        }
    }
}


.game {
    background-color: #000915;
    display: flex;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 128px;
    &_1 {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        width: 379px;
        height: 300px;
        color: #fff;
        size: 24px;
        line-height: 32px;
        background-image: url(img/game1.jpg);
        background-repeat: no-repeat;
        padding-left: 32px;
        padding-bottom: 32px;
        border-radius: 16px;
        &:hover {
            border: 3px solid #44D2FF;
        }
    }
    &_2 {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        width: 378px;
        height: 300px;
        color: #fff;
        size: 24px;
        line-height: 32px;
        background-image: url(img/game2.jpg);
        background-repeat: no-repeat;
        padding-left: 32px;
        padding-bottom: 32px;
        border-radius: 16px;
        &:hover {
            border: 3px solid #44D2FF;
        }
    }
    &_3 {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        width: 379px;
        height: 300px;
        color: #fff;
        size: 24px;
        line-height: 32px;
        background-image: url(img/game3.jpg);
        background-repeat: no-repeat;
        padding-left: 32px;
        padding-bottom: 32px;
        border-radius: 16px;
        &:hover {
            border: 3px solid #44D2FF;
        }
    }
}
.season {
    display: flex;
    align-items: center;
    gap: 135px;
    padding-top: 282px;
    padding-bottom: 233px;
    background-color: #000915;
    flex-direction: row;
    &_left {
        display: flex;
        flex-direction: column;
        gap: 32px
    }
    &_title {
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
    }
    &_content {
        color: #FFFFFF;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
    }
    &_button {
        box-sizing: border-box;
        width: 234.06px;
        height: 48.6px;
        background-color: #9C0332;
        border-radius: 30px;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        &:hover {
            background-color:#EB443F;
        } 
    }
    &_img_mobile {
        display: none;
    }
}

.words {
    display: flex;
    align-items: center;
    gap: 135px;
    padding-top: 239px;
    padding-bottom: 239px;
    background-color: #000915;
    flex-direction: row;
    &_right {
        display: flex;
        flex-direction: column;
        gap: 32px
    }
    &_title {
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
    }
    &_content {
        color: #FFFFFF;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
    }
    &_button {
        box-sizing: border-box;
        width: 234.06px;
        height: 48.6px;
        background-color: #9C0332;
        border-radius: 30px;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        &:hover {
            background-color:#EB443F;
        } 
    }
    &_img_mobile {
        display: none;
    }
}

@import 'mobile';